h1,p{
	text-align: center;
}
#box1{
    height: 683px;
    padding-top: 6em;
    margin-bottom: 1em;
  }
  .titulo
  {
    text-align: center;
    color: #666;
  }
  .titulo p
  {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2em;
    margin-bottom: 5em;
    border-bottom: 3px double  rgba(144, 144, 144, 0.25);
  }
  .titulo h1
  {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  











.cardcontainer {
    width: 350px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: 0.3s
}

.cardcontainer:hover {
    box-shadow: 0 0 45px gray
}

.photo {
    height: 300px;
    width: 100%
}

.photo img {
    height: 100%;
    width: 100%
}

.txt1 {
    margin: auto;
    text-align: center;
    font-size: 17px
}

.content {
    width: 80%;
    height: 200px
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px
}

.photos {
    width: 120px;
    height: 30px;
    background-color: #556B2F;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px
}

.txt4 {
    font-size: 27px;
    position: relative;
    top: 33px
}

.txt5 {
    position: relative;
    top: 18px;
    color: #556B2F;
    font-size: 23px
}

.txt2 {
    position: relative;
    top: 10px
}

.cardcontainer:hover>.photo {
    height: 200px;
    animation: move1 0.5s ease both
}

@keyframes move1 {
    0% {
        height: 300px
    }

    100% {
        height: 200px
    }
}






.cardcontainer:hover>.content {
    height: 200px
}

.footer {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px
}

.btn-news {
    position: relative;
    top: 20px
}




#heart {
    cursor: pointer
}

.like {
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
    color: #333333
}
.fa-gratipay {
    margin-right: 10px;
    transition: 0.5s
}

.fa-gratipay:hover {
    color: #E74C3C
}

.txt3 {
    color: gray;
    position: relative;
    top: 18px;
    font-size: 14px
}

.comments {
    float: right;
    cursor: pointer
}

.fa-clock,
.fa-comments {
    margin-right: 7px
}




























/*Tutoriais*/
.TutoriaisMain h1{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.TutoriaisMain p{
  text-align: center;

}
.TutoriaisMain p i {
  font-size: 1.2em;
}
.contentText{
  min-height: 500px !important;
  height:auto;
}
.boxtext{
  height: 100%;
  min-height: 100%
}
.iframe{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.iframe iframe{
  width: 700px;
  height: 350px;
}
.imgTuto{
  background-color: #363636;
  background-size: 100%;
  
  background-repeat: no-repeat;
}
.textTuto p::first-letter{
  font-size: 1.5em;
}
.textTuto p{
  text-align: justify;
  padding-top: 35px;
  font-size: 1.3em;
  text-indent: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
}

/*Paginação Tutoriais*/
.paginacao{
  clear: both;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}



/********************************/
/*          Media Queries       */
/********************************/
/*Versão Desktop*/
@media screen and (min-width: 995px){
 
  /*Tutoriais Desktop*/
  #box1{
    height: 683px;
    padding-top: 6em;
    margin-bottom: 1em;
  }
  .titulo
  {
    text-align: center;
    color: #666;
  }
  .titulo p
  {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2em;
    margin-bottom: 5em;
    border-bottom: 3px double  rgba(144, 144, 144, 0.25);
  }
  .titulo h1
  {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  .thumbnail {
    border: 0px;
    border-radius: 5px;
  }
  .imagemThubnail{
    height: 202px;
    background-color: #363636;
    background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
  }
  .caption {
    height: 350px;
  }
  .caption h3{
    height: auto;
    color: #666;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0px;

    font-weight: bold;
  }
  .caption p{
    text-align: justify;
    font-size: 1.1em;
    height: 70px;
  }
  .ReadMore{
    clear: both;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  /*Tutoriais Usuarios*/
  .imgTuto{
    height: 480px;
  }
}

/*Versão Mobile*/
@media screen and (max-width: 994px){
  /*Tutoriais Mobile*/
  .titulo h1,p{
    text-align: center;
  }
  .thumbnail{
    border:0px;
  }
  .caption h3{
    font-size: 1.5em;
    color: #666;
    text-align: center;
  }
  .imagemThubnail{
    height: 200px;
    background-color: #363636;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    background-position: 0px -130px;
  }
  .imgTuto{
    height: 210px;
    background-size: 100% 100%;
  }
}
