body,html{
  background-color: white;
}
.usuario-box{
  margin: 0;
  padding: 0;
}
.navbar-user{
  background-color: white;
  border-top: 3px solid black;
  background-color: #F1F5F7;
}
.pontuacao-user{
  width: 100%;
  height: auto;
  background-color: #F1F5F7;
  border-bottom: 1px solid #4F4F4F;
}
.pontuacao-user ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.status-conta{
  font-size: 1.1em;
  color: #008000;
  font-weight: bold;
  padding: 20px;
}
.pontuacao-user-number{
  padding: 20px;
  padding-top: 0;
}
.pontuacao-user-number dl{
  margin: 0px;
  color: #707070;
}
.pontuacao-user-number dt{
  font-weight: normal;
}
.score-user{
  font-size: 20px;
}
.links-user ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.links-user ul li{
  height: 45px;
  cursor: pointer;
  border-bottom:1px solid #B5B5B5;
  border-right:1px solid #B5B5B5;
  display: flex;
  align-items: center;
  background-color: white;
}
.links-user ul li a{
  width: 100%;
  margin: 10px;
  text-decoration:none;
  color: #4F4F4F;
  font-size: 0.9em;
  font-weight: bold;
}
.links-user ul li:hover{
  color:#363636;
}
.conteudo{
  padding: 20px;
}
@media (max-width: 575.98px) {
.usuario-box{
  height: auto;
  margin: 0;
  padding: 0;
}
}